/* Common */

body {
    
    /* Header */

    #Header {
        width: 100%;
        padding: 15px var(--page-padding);
        height: var(--header-height);

        #header-logo {
            width: 60px;
        }

        #header-nav {
            color: var(--darker);
            font-size: 0.7rem;
            font-weight: 500;
            height: var(--header-height);

            ul {
                height: var(--header-height);

                li {
                    height: var(--header-height);
                    display: flex;
                    align-items: center;
                }

                li:hover {
                    color: var(--primary);
                    border-bottom: solid 5px var(--primary);
                    padding-top: 5px;
                }
            }
        }
    }

    /* Main */

    #Main {
        width: 100%;
        
        #main-contents {
            padding: 50px var(--page-padding);
            min-height: 100px;
            background-color: var(--darker);
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
        }

        #main-nav {
            padding: 0 var(--page-padding);
            height: 120px;
            background-color: var(--primary);
            color: white;
            display: flex;
            align-items: center;
            
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.7rem;

                    img {
                        height: 40px;
                    }
                }
            }

        }
    }

    /* Footer */

    #Footer {
        width: 100%;
        color: white;

        #footer-nav {
            background-image: url(../../public/img/footer-bg.jpg);
            min-height: 300px;
            padding: 0 var(--page-padding);
            display: flex;
            justify-content: space-between;


            #footer-nav-links {
                min-height: 200px;
                color: white;

            }

            #footer-nav-logo {

                img {
                    margin: -50px 0;
                    height: 450px;
                }
            }
        }

        #footer-log {
            background-color: var(--lighter);
            min-height: 100px;
            padding: 0 var(--page-padding);
            position: relative;
            z-index: 10;
        }
    }
}