/* Common */

body {
    
    /* Header */

    #Header {
        width: 100%;
        padding: 15px var(--page-padding);
        height: var(--header-height);

        #header-logo {
            width: 60px;
        }

        #header-nav {
            color: var(--darker);
            font-size: 0.7rem;
            font-weight: 500;
            height: var(--header-height);

            ul {
                height: var(--header-height);

                li {
                    height: var(--header-height);
                    display: flex;
                    align-items: center;
                }

                li:hover {
                    color: var(--primary);
                    border-bottom: solid 5px var(--primary);
                    padding-top: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    /* Main */

    #Main {
        width: 100%;

        #main-jumbotron {
            background-image: url(../../public/img/jumbotron.jpg);
            height: 400px;
        }
        
        #main-contents {
            padding: 50px var(--page-padding);
            min-height: 100px;
            background-color: var(--darker);
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
            position: relative;

            #main-contents-tag {
                position: absolute;
                top: -1.7rem;
                left: 11rem;
                background-color: var(--primary);
                padding: 1rem 1.5rem;
                font-size: 1.3rem;
            }

            #cardsList {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                #Cards {
                    padding: 1rem;
                }

                #cardsList-loadMore {
                    background-color: var(--primary);
                    padding: 0.7rem 3rem;
                    font-size: 1rem;
                }
            }
        }

        #main-nav {
            padding: 0 var(--page-padding);
            height: 120px;
            background-color: var(--primary);
            color: white;
            display: flex;
            align-items: center;
            
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.7rem;

                    img {
                        height: 40px;
                    }
                }
            }

        }
    }

    /* Footer */

    #Footer {
        width: 100%;
        color: white;

        #footer-nav {
            background-image: url(../../public/img/footer-bg.jpg);
            min-height: 300px;
            padding: 0 var(--page-padding);
            display: flex;
            justify-content: space-between;
            align-items: center;

            #footer-nav-links {
                min-height: 200px;
                color: white;
                display: flex;
                gap: 2rem;

                .footer-nav-links-element {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    h3 {
                        font-weight: 700;
                        font-size: 1.1rem;
                        margin-bottom: 0.5rem;
                    }

                    h3:nth-of-type(2) {
                        margin-top: 1rem;
                    }

                    ul {
                        color: grey;
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;
                        font-size: 0.9rem;
                    }
                }
            }

            #footer-nav-logo {

                img {
                    margin: -50px 0;
                    height: 450px;
                }
            }
        }

        #footer-log {
            background-color: var(--lighter);
            min-height: 100px;
            padding: 0 var(--page-padding);
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #log-button {
                display: flex;  
                align-items: center;
                font-weight: 700;
                color: white;
                border: solid 3px var(--primary);
                height: 50px;
                padding: 0 1rem;

                &:hover {
                    background-color: var(--primary);
                    cursor: pointer;
                }
            }

            #social-links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .social-links-element {
                    color: var(--primary);
                    font-weight: 700;
                }
            }
        }
    }
}