/* Common */

body {
    
    /* Header */

    #Header {
        width: 100%;
        padding: 0 var(--page-padding);
        min-height: 100px;
    }

    /* Main */

    #Main {
        width: 100%;
        padding: 0 var(--page-padding);
        min-height: 100px;
    }

    /* Footer */

    #Footer {
        width: 100%;

        #footer-nav {
            background-image: url(../../public/img/footer-bg.jpg);
            min-height: 300px;
            padding: 0 var(--page-padding);
        }

        #footer-log {
            background-color: var(--lighter);
            min-height: 100px;
            padding: 0 var(--page-padding);
        }
    }
}