/* Common */

body {
    
    /* Header */

    #Header {
        width: 100%;
        padding: 0 var(--page-padding);
        min-height: 100px;
    }

    /* Main */

    #Main {
        width: 100%;
        
        #main-contents {
            padding: 50px var(--page-padding);
            min-height: 100px;
            background-color: var(--darker);
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
        }

        #main-nav {
            padding: 0 var(--page-padding);
            min-height: 100px;
            background-color: var(--primary);
            color: white;
        }
    }

    /* Footer */

    #Footer {
        width: 100%;
        color: white;

        #footer-nav {
            background-image: url(../../public/img/footer-bg.jpg);
            min-height: 300px;
            padding: 0 var(--page-padding);
        }

        #footer-log {
            background-color: var(--lighter);
            min-height: 100px;
            padding: 0 var(--page-padding);
        }
    }
}